<div class="p-8">
  <h1 class="text-2xl font-semibold text-white mb-6">Filter Queries</h1>
  
  <script type="module" src="/modules/filter-queries/public/filter-queries.js"></script>
  
  <filter-queries 
    id="filterQueries"
    hx-post="/mod/filter-queries/mainPane"
    hx-trigger="filter-create from:this"
    hx-swap="outerHTML"
    hx-include="[name='filterName'], [name='filterExpression']"
  ></filter-queries>

  <script>
    if (!window.filterQueriesInitialized) {
      const filterQueries = document.getElementById('filterQueries');
      filterQueries.filters = {{{json filters}}};
      
      filterQueries.addEventListener('filter-create', () => {
        console.log('Filter create event caught, sending with action: create');
      });

      window.filterQueriesInitialized = true;
    }
  </script>
</div> 