<html lang="en">
  {{> Head }}
  <body class="poppins-regular" style="background: #080c15">
    <div class="absolute left-4">
      {{> Logo }}
    </div>
    <div class="flex items-center justify-center min-h-full">
      <div class="w-80 py-20">
        {{#> Card }}
          <h1 class="text-white text-center mb-4">Register</h1>
          <form class="flex flex-col gap-6" action="/register" method="POST">
            {{> FormText label="Name" name="name" }}
            <div>
              <label class="block text-white text-sm mb-2" for="role">Role:</label>
              <select class="rounded p-1 text-sm w-full m-0" name="role">
                <option value="admin">Admin</option>
                <option value="viewer">Viewer</option>
              </select>
            </div>
            {{> FormEmail label="Email" name="email" }}
            {{> FormPassword label="Password" name="password" }}
            <div class="flex items-center justify-center gap-8 mt-4">
              {{> FormSubmit label="Register" }}
              <a class="text-white text-sm" href="/login">Login</a>
            </div>
          </form>
        {{/Card}}
      </div>
    </div>
  </body>
</html>
