<div class="p-8 text-white">
  <h1 class="text-white text-xl mb-4">Module 1</h1>

  <!-- List all of the passed data object's properties -->
  <ul class="">
    {{#each this}}
      <li><strong>{{@key}}:</strong> {{this}}</li>
    {{/each}}
  </ul>
</div>