<div class="p-8">
  <h1 class="text-white text-xl mb-6">Module 1</h1>

  <!-- List all of the passed data object's properties -->
  <ul class="text-white mb-6">
    {{#each this}}
      <li>
        <strong>{{@key}}:</strong>
        {{this}}

        <!-- Form to delete data from config db -->
        <form
          class="inline"
          hx-post="/trigger-module"
          hx-target="closest #main"
          hx-swap="innerHTML"
          hx-vals='{"name": "module1", "command": "deleteConfig", "key": "delete", "value": "{{@key}}"}'
        >
          <button class="text-indigo-600 text-sm ml-3 inline" type="submit">
            Delete
          </button>
        </form>
      </li>
    {{/each}}
  </ul>

  <!-- Form to post data to config db -->
  <form
    hx-post="/trigger-module"
    hx-target="closest #main"
    hx-swap="innerHTML"
    hx-vals='{"name": "module1", "command": "writeConfig"}'
  >
    <div class="mb-3">
      <label class="block text-white mb-1">Key:</label>
      <input class="w-48 rounded p-1 text-sm" type="text" name="key" />
    </div>
    <div class="mb-8">
      <label class="block text-white mb-1 text-sm">Value:</label>
      <input class="w-48 rounded p-1 text-sm" type="text" name="value" />
    </div>
    <button
      class="bg-indigo-600 py-1 px-6 rounded text-white text-sm"
      type="submit"
    >
      Submit
    </button>
  </form>
</div>