<div class="relative w-full">
  <select
    class="appearance-none w-full text-sm rounded-md bg-gray-900 border border-gray-700 text-white py-2 pl-3 pr-8"
  >
    {{{options}}}
  </select>
  <div
    class="absolute top-2.5 right-3 w-3.5 h-3.5 flex items-center pointer-events-none text-gray-400"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 448 512"
      fill="currentColor"
      class="h-full w-full"
    >
      <path
        d="M241 369c-9.4 9.4-24.6 9.4-33.9 0L47 209c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l143 143L367 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9L241 369z"
      />
    </svg>
  </div>
</div>