<div class="flex-grow">
  <label class="block text-white text-sm mb-2" for={{name}}>{{label}}:</label>
  <input
    class="rounded p-1 text-sm w-full m-0"
    type="email"
    id={{name}}
    name={{name}}
  />
</div>