{{#let (json {"name": "module1", "command": "writeConfig"}) as |jsonVals|}}
  <form
    hx-post="/trigger-module"
    hx-target="closest #main"
    hx-swap="innerHTML"
    hx-vals="{{jsonVals}}"
  >
    {{> @partial-block }}
  </form>
{{/let}}
