<div>

  <div class="flex mb-4">

    <!-- Sort -->
    <div class="relative border-r border-gray-700 pr-4 mr-4">
      <button
        class="flex gap-1 items-center inline-block h-7 px-3 rounded-full border border-indigo-500 text-indigo-400 bg-indigo-900 bg-opacity-30"
      >
        <span class="relative h-3.5 text-indigo-400 inline-block">
          {{> icons/ArrowUp }}
        </span>
        <span class="text-sm">Word</span>
        <span class="relative w-3.5 h-3.5 text-indigo-400 inline-block">
          {{> icons/AngleDown }}
        </span>
      </button>

      <!-- Sort Form -->
      <div class="absolute z-10 top-9 left-1/2 w-px h-px">
        <div
          class="transform -translate-x-1/2 w-96 border border-gray-700 bg-gray-800 shadow-xl rounded-lg p-5"
        >
          <div class="flex gap-3 items-center w-full mb-5">
            {{> FormSelect options="
              <option value='word1'>Word 1</option>
              <option value='word2'>Word 2</option>
              <option value='word3'>Word 3</option>
            "}}
            {{> FormSelect options="
              <option value='ascending'>Ascending</option>
              <option value='descending'>Descending</option>
            "}}
            <div class="text-gray-300">X</div>
          </div>
          <div>
            <button
              class="inline-block h-7 px-2 text-gray-500 rounded-md hover:bg-gray-800"
            >
              <span>+ Add sort</span>
            </button>
          </div>
        </div>
      </div>
    </div>

    <!-- Active Filters -->
    <div class="relative mr-2">
      <button
        class="flex gap-1 items-center inline-block h-7 px-3 rounded-full border border-gray-700 text-sm text-gray-500 bg-gray-900 bg-opacity-30 hover:bg-gray-800 hover:bg-opacity-100"
      >
        <span>Name</span>

        <!-- Angle Down -->
        <span class="relative w-3.5 h-3.5 text-gray-500 inline-block">
          {{> icons/AngleDown }}
        </span>
      </button>

            <div class="absolute z-10 top-9 left-1/2 w-px h-px">
        <div
          class="transform -translate-x-1/2 w-96 border border-gray-700 bg-gray-800 shadow-xl rounded-lg p-5"
        >
          <div class="flex gap-3 items-center w-full mb-3">
            {{> FormSelect options="
              <option value='word1'>Word 1</option>
              <option value='word2'>Word 2</option>
              <option value='word3'>Word 3</option>
            "}}
            {{> FormSelect options="
              <option value='is'>Is</option>
              <option value='is-not'>Is not</option>
              <option value='contains'>Contains</option>
              <option value='does-not-contain'>Does not contain</option>
              <option value='starts-with'>Starts with</option>
              <option value='ends-with'>Ends with</option>
              <option value='is-empty'>Is empty</option>
              <option value='is-not-empty'>Is not empty</option>
            "}}
          </div>
          <input type="text" class="text-white bg-gray-900 border border-gray-700 rounded-md p-1 px-3 w-full" />
        </div>
      </div>
    </div>

    <!-- New Filter -->
    <div>
      <button
        class="inline-block h-7 px-2 text-gray-500 rounded-md hover:bg-gray-800"
      >
        <span>+ Add filter</span>
      </button>
    </div>

  </div>

  <table class="min-w-full">
    <thead class="sticky top-0">
      <tr>
        {{#each data.columns}}
          <th
            class="sticky top-0 px-4 py-4 text-left text-sm font-semibold bg-gray-900 text-white"
          >
            <div
              class="absolute bottom-0 left-0 right-0 border-b border-gray-700"
            ></div>
            <span onClick="sort" class="cursor-pointer">
              {{this}}
            </span>
          </th>
        {{/each}}
      </tr>
    </thead>
    <tbody class="divide-y divide-gray-800">
      {{#each data.rows}}
        <tr class="hover:bg-violet-600/10 cursor-pointer" }>
          {{#each this}}
            <td
              class="whitespace-nowrap pl-4 py-4 text-sm font-medium text-white"
            >
              {{this}}
            </td>
          {{/each}}
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>