<div class="p-8">
  <div class="flex justify-between">
    {{> Headline title="Directory Module" }}
    <button class="bg-indigo-600 text-white px-4">Link</button>
  </div>
  <div class="relative">
    <div class="absolute top-0 left-0 right-1/2 pr-4">
      <h2 class="text-white text-lg mb-4">Directory</h2>
      {{> Table data=directory.tableData filterEndpoint="/mod/directory/filterdirectory/"}}
    </div>
    <div class="absolute top-0 left-1/2 right-0 pl-4">
      <h2 class="text-white text-lg mb-4">Personas</h2>
      {{> Table data=personas.tableData filterEndpoint="/mod/directory/filterpersonas/"}}
    </div>
  </div>
</div>
