<div class="p-8" x-data="formHandler">
  <div class="flex justify-between items-start mb-6">
    {{> Headline title="Directory Module" }}
    <div class="flex gap-3">
      <form
        hx-ext="download-csv"
        hx-post="/mod/directory/backup/download/"
      >
        <button
          type="submit"
          class="bg-indigo-600 py-1 px-4 rounded text-white text-sm"

        >
          Backup
        </button>
      </form>

      {{#> ModalButton label="Restore" }}
        <h2 class="text-white text-lg mb-4">Restore Directory</h2>
        <form
          hx-encoding="multipart/form-data"
          hx-post="/mod/directory/restore/upload"
          hx-target="closest #main"
          hx-swap="innerHTML"
        >
          {{> FormFilePicker label="JSON File" name="file" }}
          {{> FormSubmit label="Restore" }}
        </form>
      {{/ModalButton}}

      {{#> ModalButton label="Add Raw Persona" }}
        <h2 class="text-white text-lg mb-4">Add Raw Persona</h2>
        <form
          hx-post="/mod/directory/addPersona"
          hx-target="closest #main"
          hx-swap="innerHTML"
        >
        <p>Use caution, you can break things.</p>
          {{> FormText label="UPN" name="upn" value="" }}
          {{> FormSubmit label="Add Persona" }}
        </form>
      {{/ModalButton}}

    </div>
  </div>
  <div class="relative">
    <div class="absolute top-0 left-0 right-1/2 pr-4">
      <h2 class="text-white text-lg mb-4">Directory</h2>
      <div class="flex gap-3 mb-4">
        <!-- Add Activity Modal -->
        {{#> ModalButton label="Add Activity" }}
          <div x-ref="filterFields">
            <h2 class="text-white text-lg mb-4">Add Activity</h2>
            <form
              hx-post="/mod/directory/addActivity/"
              hx-target="closest #main"
              hx-swap="innerHTML"
            >
              {{> FormText label="Name" name="name" value="" }}
              {{> FormSubmit label="Add Activity" }}
            </form>
          </div>
        {{/ModalButton}}

        <!-- Add Participant Modal -->
        {{#> ModalButton label="Add Participant" }}
          <div x-ref="filterFields">
            <h2 class="text-white text-lg mb-4">Add Participant</h2>
            <form
              hx-post="/mod/directory/addParticipant/"
              hx-target="closest #main"
              hx-swap="innerHTML"
            >
              {{> FormText label="First Name" name="firstName" value="" }}
              {{> FormText label="Last Name" name="lastName" value="" }}
              {{> FormText label="Handle" name="handle" value="" }}
              {{> FormSubmit label="Add Participant" }}
            </form>
          </div>
        {{/ModalButton}}

        {{#> ModalButtonPane label="Manage CSVs" }}
          <div 
            id="directoryCsvPane" 
            class="p-8"
            hx-post="/mod/directory/csvPane/"
            hx-target="#directoryCsvPane"
            hx-swap="innerHTML"
            hx-trigger="load"
          >
          </div>
        {{/ModalButtonPane}}
      </div>
      {{> PersonaTable data=directory.tableData }}
    </div>
    <div class="absolute top-0 left-1/2 right-0 pl-4">
      <h2 class="text-white text-lg mb-4">Personas</h2>
        <div class="flex gap-3 mb-4">
          <!-- Link -->
          {{> Button click="linkData()" label="Link" }}
        </div>
      {{> PersonaTable data=personas.tableData }}
    </div>
  </div>
</div>

<script>
document.addEventListener('alpine:init', () => {
  Alpine.data('formHandler', () => ({
    linkData() {
      const directoryTableForm = document.getElementById('directory-table-form');
      const personaTableForm = document.getElementById('persona-table-form');

      if (!directoryTableForm || !personaTableForm) {
        console.error('One or both forms are missing.');
        return;
      }

      const directoryTableData = new FormData(directoryTableForm);
      const personaTableData = new FormData(personaTableForm);

      const combinedData = {
        directory: [...directoryTableData.values()],
        persona: [...personaTableData.values()],
      }

      htmx.ajax('POST', '/mod/directory/linkPersonas/', {
        target: '#main',
        swap: 'innerHTML',
        values: combinedData,
      });
    }
  }));
});
</script>
