@use '@angular/material' as mat

$color-dark-gray: darkgray
$color-dim-gray: dimgray
$color-light-gray: lightgray
$color-red: red
$color-green: green

$toolbar-height: 4rem
$font-size-small: 0.8rem
$dash-container-height: calc(100vh - #{$toolbar-height * 2})
$dash-content-height: calc(100% - 2rem)

.dash-container
  border: none
  width: 100%
  height: $dash-container-height

  .dash-content
    background-color: $color-light-gray
    height: $dash-content-height
    border: none
    display: flex
    align-items: center
    justify-content: center
    padding: 1rem

  .dash-sidenav
    border-radius: 0
    background-color: $color-dark-gray
    padding: 0

.dash-toolbar
  background-color: $color-dark-gray

.nav-toolbar
  background-color: $color-dim-gray

.status-toolbar
  height: $toolbar-height
  background-color: $color-dark-gray
  font-size: $font-size-small
  display: flex
  align-items: center
  // This centers the direct children of status-toolbar
  justify-content: space-between
  // This will help position items
  padding: 0 1.25rem
  box-shadow: 0 -1px 3px rgba(0, 0, 0, .05)
  letter-spacing: 0.025em
  border-top: 1px solid rgba(0, 0, 0, 0.06)
  z-index: 90
  position: fixed
  // It's a fixed bar at the bottom
  left: 0
  right: 0
  bottom: 0

// New style for the status indicator group
.status-indicator
  display: flex
  align-items: center
  // This will vertically align the icon button and the text span

  span
    // Target the span specifically if you need to adjust its margin relative to the icon
       margin-left: 8px
// Adjust as needed, or remove if your button already has sufficient margin

.dash-nav
  padding: 1rem

.expanding-spacer
  flex-grow: 1

.access-off
  color: unset

.access-on
  color: rgb(0, 106, 106)

mat-grid-tile
  width: 100%
  height: 100%

.info-card
  width: 100%

  mat-card-title
    padding: 1rem

  mat-card-content
    padding: 1rem
    justify-content: center
    align-items: center

.search-toolbar
  padding-left: 0
  padding-right: 0

  form
    width: 100%

    mat-form-field
      width: 100%
