<mat-toolbar class="dash-toolbar">
  <button mat-icon-button class="menu-button" (click)="toggleSideMenu()" aria-label="Toggle menu">
    <mat-icon>menu</mat-icon>
  </button>

  <span>Cartographer</span>
  <span class="expanding-spacer"></span>
  @if (authService.user()) {
    <span class="user-info">{{ authService.user()?.displayName || authService.user()?.email }}</span>
  }
  <button mat-icon-button [matMenuTriggerFor]="profileMenu" aria-label="Profile">
    @if (authService.user()?.photoURL) {
      <img [src]="authService.user()?.photoURL" class="profile-image" alt="Profile picture">
    } @else {
      <mat-icon>account_circle</mat-icon>
    }
  </button>
  <mat-menu #profileMenu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>


<mat-drawer-container class="dash-container" autosize>
  <mat-drawer [opened]="showSideMenu()" class="dash-sidenav" mode="side">
    <mat-toolbar class="nav-toolbar">Views</mat-toolbar>
    <mat-selection-list class="dash-nav">
      <mat-list-item routerLink="/dashboard/cartographer" routerLinkActive="active-link"
      >Cartographer
      </mat-list-item
      >
      <mat-list-item routerLink="/dashboard/researcher" routerLinkActive="active-link"
      >Researcher
      </mat-list-item
      >
    </mat-selection-list>

    <mat-toolbar class="nav-toolbar">Services</mat-toolbar>

    <mat-accordion displayMode="flat" class="dash-nav">
      @for (service of staticServices(); track service.id) {
        <mat-expansion-panel [disabled]="service.disabled">

          <mat-expansion-panel-header>
            <mat-panel-title>
              {{ service.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>

          @if (service.description) {
            <div class="service-description">{{ service.description }}</div>
          }

          @if (service.endpoints || service.authentication) {
            <div class="service-details">
              @if (service.endpoints) {
                <div class="endpoints">
                  <strong>Endpoints:</strong>
                  @for (endpoint of service.endpoints; track endpoint.path + endpoint.method) {
                    <div class="endpoint">
                      <span class="method">{{ endpoint.method }}</span>
                      <span class="path">{{ endpoint.path }}</span>
                      <span class="description">{{ endpoint.description }}</span>
                    </div>
                  }
                </div>
              }
              @if (service.authentication) {
                <div class="authentication">
                  <strong>Authentication:</strong>
                  <div>Type: {{ service.authentication.type }}</div>
                  <div>{{ service.authentication.description }}</div>
                </div>
              }
            </div>
          }
        </mat-expansion-panel>
      }
    </mat-accordion>
  </mat-drawer>
  <mat-drawer-content>
    <router-outlet [name]="'primary'"></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<mat-toolbar class="status-toolbar">
  <!-- Left side of the status bar -->
  <div class="status-indicator">
    <button mat-icon-button (click)="toggleOnlineStatus()"
            [matTooltip]="onlineStatus() ? 'Set to Offline' : 'Set to Online'">
      <mat-icon>{{ onlineStatus() ? 'wifi' : 'wifi_off' }}</mat-icon>
    </button>
    <span
      matTooltip="{{ onlineStatus() ? 'Connection is online' : 'Connection is offline - some features might be unavailable' }}">
      {{ onlineStatus() ? 'Online' : 'Offline' }}
    </span>
  </div>

  <span class="expanding-spacer"></span>

  <div class="version-update-container">
    <span matTooltip="Application Version" style="margin-right: 16px;">Version: {{ version }}</span>
    <button mat-icon-button
            (click)="activateUpdate()"
            [matTooltip]="updateAvailable() ? 'Update available. Click to update.' : 'Check for updates'"
            [class.update-button]="updateAvailable()">
      <mat-icon>system_update</mat-icon>
    </button>
  </div>
</mat-toolbar>
